body {
    margin: 0;
}

table {
    width: 100vw;
    height: 100vh;
    border-collapse: collapse;
}

td {
    width: 50%;
    border: 1px solid black;
}

.cell1 {
    background-color: rgb(144, 210, 238);
}

.cell2 {
    background-color: lightpink;
}
